In [1]:
num=6
if num%2==0:
    print("even")
else:
    print("odd")

even

In [2]:
print("even") if num%2==0 else print("odd")

even

In [8]:
x=0
result="positive" if x>0 else "negative" if x<0 else"zero"
print(result)

zero

In [5]:
age=18
category="Adult"if age>=18 else "Minor"
print(category)

Adult

In [9]:
L=[1,2,3,4,56,76]
[2*x for x in L]

[2, 4, 6, 8, 112, 152]

In [10]:
[x for x in L if x%2!=0]

[1, 3]

In [11]:
d1={'Ram':[70,71,98,100], 'john':[56,74,83,94]}
d1

{'Ram': [70, 71, 98, 100], 'john': [56, 74, 83, 94]}

In [12]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'john': 76.75}

In [13]:
def mean_value(given_list):
    total=sum(given_list)
    average_value=total/len(given_list)
    return average_value
given_list=[1,2,34,5,6,6]
mean_value(given_list)

9.0

In [16]:
def greet_morning(given_string):
    return f"Good morning, {given_string}!"
given_string="manoj"
greet_morning(given_string)

'Good morning, manoj!'

In [1]:
def avg_value(*n):
    l=len(n)
    average=sum(n)/l
    return average

In [2]:
avg_value(10,20,30,40,50,100)

41.666666666666664

In [7]:
greet=lambda name:print(f"good morning {name}!")

In [8]:
greet("manoj")

good morning manoj!

In [16]:
product= lambda a,b,c:a*b*c
product(20,30,40)

24000

In [17]:
even = lambda L:[x for x in L if x%2==0]

In [20]:
L=[2,4,6,8,10,234567]

In [21]:
even(L)

[2, 4, 6, 8, 10]

In [22]:
def mean_value(given_list):
    total=sum(given_list)
    average_value=total/len(given_list)
    return average_value
given_list=[1,2,34,5,6,6]
mean_value(given_list)

9.0

In [36]:
def median_value(*n):
    num_list=list(n)
    num_list.sort()
    l=len(num_list)
    if l%2==0:
        median=(num_list[int(1/2)]+ num_list[int(1/2)-1])/2
    else:
         median=(num_list[int(1/2)])
    return median

In [37]:
median_value(1,2,3,4,5,6,7,8,9,10)

5.5